In [55]:
import pandas as pd
import numpy as np

In [56]:
df = pd.read_csv("input000-10.txt")
df

,Date,MA5,MA10,MA20,MACD,K,D,J,RSI6,RSI12,RSI24,BIAS5,BIAS10,BIAS20,OBV,Signal,Close
0,02- 10,25.256,25.207,24.8485,0.027050,0.284974,0.383897,0.581743,0.500000,0.500000,0.583333,-0.003405,-0.001468,0.012938,2.126699e+08,-1.0,25.17
1,02-13,25.146,25.196,24.8825,0.004666,0.110003,0.292599,0.657791,0.500000,0.500000,0.583333,-0.012169,-0.014129,-0.001708,1.623321e+08,1.0,24.84
2,02-14,25.024,25.181,24.9245,-0.011093,0.003615,0.196271,0.581583,0.500000,0.583333,0.625000,-0.006953,-0.013145,-0.002989,1.833291e+08,1.0,24.85
3,02-15,24.962,25.131,24.9755,-0.021344,-0.029179,0.121121,0.421721,0.500000,0.500000,0.625000,-0.003686,-0.010386,-0.004224,2.076326e+08,-1.0,24.87
4,02-16,24.886,25.065,25.0130,-0.036373,-0.095933,0.048770,0.338176,0.666667,0.500000,0.625000,-0.007474,-0.014562,-0.012513,1.819865e+08,1.0,24.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,12-25,31.592,31.448,31.3930,-0.060725,0.507985,0.392288,0.160896,0.666667,0.666667,0.458333,0.009433,0.014055,0.015832,1.391191e+09,-1.0,31.89
217,12-26,31.662,31.480,31.3985,-0.046589,0.513716,0.432764,0.270860,0.500000,0.583333,0.458333,0.001516,0.007306,0.009921,1.373746e+09,-1.0,31.71
218,12-27,31.592,31.425,31.4055,-0.071010,0.314057,0.393195,0.551472,0.500000,0.666667,0.500000,-0.013674,-0.008433,-0.007817,1.353250e+09,1.0,31.16
219,12-28,31.510,31.434,31.4215,-0.084561,0.187343,0.324578,0.599047,0.500000,0.666667,0.541667,-0.009838,-0.007444,-0.007049,1.370040e+09,1.0,31.20
220,12-29,31.600,31.527,31.4775,-0.038954,0.330682,0.326613,0.318473,0.000000,0.000000,0.000000,0.013924,0.016272,0.017870,1.399015e+09,0.0,32.04

In [48]:
df = df.set_index('Date')
df

,MA5,MA10,MA20,MACD,K,D,J,RSI6,RSI12,RSI24,BIAS5,BIAS10,BIAS20,OBV,Signal,Close
Date,,,,,,,,,,,,,,,,
02- 10,25.256,25.207,24.8485,0.027050,0.284974,0.383897,0.581743,0.500000,0.500000,0.583333,-0.003405,-0.001468,0.012938,2.126699e+08,-1.0,25.17
02-13,25.146,25.196,24.8825,0.004666,0.110003,0.292599,0.657791,0.500000,0.500000,0.583333,-0.012169,-0.014129,-0.001708,1.623321e+08,1.0,24.84
02-14,25.024,25.181,24.9245,-0.011093,0.003615,0.196271,0.581583,0.500000,0.583333,0.625000,-0.006953,-0.013145,-0.002989,1.833291e+08,1.0,24.85
02-15,24.962,25.131,24.9755,-0.021344,-0.029179,0.121121,0.421721,0.500000,0.500000,0.625000,-0.003686,-0.010386,-0.004224,2.076326e+08,-1.0,24.87
02-16,24.886,25.065,25.0130,-0.036373,-0.095933,0.048770,0.338176,0.666667,0.500000,0.625000,-0.007474,-0.014562,-0.012513,1.819865e+08,1.0,24.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12-25,31.592,31.448,31.3930,-0.060725,0.507985,0.392288,0.160896,0.666667,0.666667,0.458333,0.009433,0.014055,0.015832,1.391191e+09,-1.0,31.89
12-26,31.662,31.480,31.3985,-0.046589,0.513716,0.432764,0.270860,0.500000,0.583333,0.458333,0.001516,0.007306,0.009921,1.373746e+09,-1.0,31.71
12-27,31.592,31.425,31.4055,-0.071010,0.314057,0.393195,0.551472,0.500000,0.666667,0.500000,-0.013674,-0.008433,-0.007817,1.353250e+09,1.0,31.16
12-28,31.510,31.434,31.4215,-0.084561,0.187343,0.324578,0.599047,0.500000,0.666667,0.541667,-0.009838,-0.007444,-0.007049,1.370040e+09,1.0,31.20
12-29,31.600,31.527,31.4775,-0.038954,0.330682,0.326613,0.318473,0.000000,0.000000,0.000000,0.013924,0.016272,0.017870,1.399015e+09,0.0,32.04

In [52]:
x = df["Date"] <= "11-30"

In [53]:
x

0       True
1       True
2       True
3       True
4       True
       ...
216    False
217    False
218    False
219    False
220    False
Name: Date, Length: 221, dtype: bool

In [31]:
X_train = df[['Date','MA5','MA10','MA20','MACD','K','D','J','RSI6','RSI12','RSI24','BIAS5','BIAS10','BIAS20','Close','OBV']][0:200]
y_train = df[['Signal']][0:200]
X_test = df[['Date','MA5','MA10','MA20','MACD','K','D','J','RSI6','RSI12','RSI24','BIAS5','BIAS10','BIAS20','Close','OBV']][200:len(df)+1]
y_test = df[['Signal']][200:len(df)+1]

In [32]:
X_train

,Date,MA5,MA10,MA20,MACD,K,D,J,RSI6,RSI12,RSI24,BIAS5,BIAS10,BIAS20,Close,OBV
0,02- 10,25.256,25.207,24.8485,0.027050,0.284974,0.383897,0.581743,0.500000,0.500000,0.583333,-0.003405,-0.001468,0.012938,25.17,2.126699e+08
1,02-13,25.146,25.196,24.8825,0.004666,0.110003,0.292599,0.657791,0.500000,0.500000,0.583333,-0.012169,-0.014129,-0.001708,24.84,1.623321e+08
2,02-14,25.024,25.181,24.9245,-0.011093,0.003615,0.196271,0.581583,0.500000,0.583333,0.625000,-0.006953,-0.013145,-0.002989,24.85,1.833291e+08
3,02-15,24.962,25.131,24.9755,-0.021344,-0.029179,0.121121,0.421721,0.500000,0.500000,0.625000,-0.003686,-0.010386,-0.004224,24.87,2.076326e+08
4,02-16,24.886,25.065,25.0130,-0.036373,-0.095933,0.048770,0.338176,0.666667,0.500000,0.625000,-0.007474,-0.014562,-0.012513,24.70,1.819865e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,11-24,32.930,32.781,32.1030,0.047069,0.307885,0.528874,0.970850,0.333333,0.500000,0.625000,-0.031278,-0.026875,-0.006323,31.90,1.373270e+09
196,11-27,32.660,32.706,32.0485,-0.027495,0.160541,0.406096,0.897206,0.333333,0.416667,0.583333,-0.027863,-0.029230,-0.009314,31.75,1.333788e+09
197,11-28,32.352,32.595,32.0540,-0.092062,0.050153,0.287448,0.762039,0.166667,0.333333,0.583333,-0.023244,-0.030526,-0.014164,31.60,1.320475e+09
198,11-29,31.720,32.446,32.0685,-0.175323,-0.086835,0.162687,0.661732,0.000000,0.250000,0.541667,-0.022068,-0.043950,-0.032696,31.02,1.295988e+09
199,11-30,31.430,32.312,32.0745,-0.241663,-0.167678,0.052566,0.493053,0.166667,0.333333,0.541667,-0.017499,-0.044318,-0.037241,30.88,1.270823e+09

In [36]:
print(X_train[['OBV']].loc[199])

OBV    1.270823e+09
Name: 199, dtype: float64

In [30]:
i = 0
while(df['Date'][i] <= "11-30"):
    i += 1
print(i)

200

In [26]:
df['Date'][199]

'11-30'

In [27]:
df['Date'][0:200]

0      02- 10
1       02-13
2       02-14
3       02-15
4       02-16
        ...
195     11-24
196     11-27
197     11-28
198     11-29
199     11-30
Name: Date, Length: 200, dtype: object

In [25]:
df[['Close']]

     Close
0    25.17
1    24.84
2    24.85
3    24.87
4    24.70
..     ...
216  31.89
217  31.71
218  31.16
219  31.20
220  32.04

[221 rows x 1 columns]

In [57]:
import numpy as np
import pandas as pd
from datetime import datetime
from sklearn.preprocessing import StandardScaler  
from sklearn.neural_network import MLPClassifier
from sklearn import svm

def train_test_split(df):
    # use features MA5, MA10, ..., OBV to predict Signal
    # split your train and test on date '2021-11-30'
    # date<='2021-11-30': train; date>'2021-11-30': test 
    # X_train/X_test dataframe has columns MA5, MA10, ..., OBV
    # y_train/y_test datafrom has only one column: Signal
    X_train = df[['MA5','MA10','MA20','MACD','K','D','J','RSI6','RSI12','RSI24','BIAS5','BIAS10','BIAS20','OBV']][0:200]
    y_train = df[['Signal']][0:200]
    X_test = df[['MA5','MA10','MA20','MACD','K','D','J','RSI6','RSI12','RSI24','BIAS5','BIAS10','BIAS20','OBV']][200:len(df)]
    y_test = df[['Signal']][200:len(df)]
    
    # print the last OBV indicator in X_train
    print(X_train[['OBV']].loc[199][0])
    # print the first OBV indicator in X_test
    print(X_test[['OBV']].loc[200][0])
    # print the last Signal in y_train
    print(y_train[['Signal']].loc[199][0])
    # print the first Signal in y_test
    print(y_test[['Signal']].loc[200][0])
    
    return X_train, y_train, X_test, y_test

def normalization(X_train, y_train, X_test, y_test):
    # use StandardScaler in sklearn to normalize X_train and X_test
    scaler = StandardScaler()
    X_train = scaler.fit_transform(X_train)
    X_test = scaler.transform(X_test)
    #X_train = pd.DataFrame(X_train, index = y_train.index, columns=)
    #X_test = pd.DataFrame(X_test, index = y_test.index)
    
    # print the normalized value of the first MA5 in X_train, keep 6 decimal places
    print("{:.6f}".format(X_train[0][0]))
    # print the normalized value of the first MA5 in X_test, keep 6 decimal places
    print("{:.6f}".format(X_test[0][0]))
    
    return X_train, y_train, X_test, y_test

def SVM(X_train, y_train, X_test, y_test):
    pass
    # use SVM.SVC() in sklearn to fit the data
    # use the default setting
    #print(y_train)
    #print(y_test)
    svm_ = svm.SVC()
    svm_.fit(X_train,y_train)
    # print training accurary, keep 2 decimal places
    train_acc = svm_.score(X_train,y_train)
    print("{:.2f}".format(train_acc))
    # print test accuracy, keep 2 decimal places
    test_acc = svm_.score(X_test,y_test)
    print("{:.2f}".format(test_acc))
    # get predictions from your model on test set
    pred = svm_.predict(X_test)
    
    # print you predictions on the test data as List
    print(pred)
    
    return pred
    
    
def NN(X_train, y_train, X_test, y_test):
    pass
    # use MLPClassifier in sklearn to fit the data
    # set your solver as 'lbfgs', alpha=1e-5, 1 hidden layer with 8 nodes, random_state=1
    nn = MLPClassifier(solver='lbfgs', alpha=1e-5, random_state=1,hidden_layer_sizes=(8,))
    nn.fit(X_train,y_train)
    # print training accurary, keep 2 decimal places
    print("{:.2f}".format(nn.score(X_train,y_train)))
    # print test accuracy, keep 2 decimal places
    print("{:.2f}".format(nn.score(X_test,y_test)))
    # get predictions from your model on test set
    pred = nn.predict(X_test)
    
    # print you predictions on the test data as List
    print(pred)
    
    return pred

def backtest(close, pred):
    pass
    # drop the close when date<='2021-11-30'
    close = close.loc[200:len(close)]
    #print(close)
    # calculte the daily return
    close['return'] = close.Close.pct_change()

    # store prediction from SVM/NN in 'signal' column
    close['signal'] = pred

    # use the return data to calculate the cumulative return of long-only strategy
    # buy when signal == 1 and sell when signal != 1
    # assuming reinvesting (i.e. cumprod of return)
    position = np.where(pred == 1, 1, 0)
    close['position'] = position
    #print(close)
    cumprod = close['return'].fillna(0) * close['position'].shift().fillna(0)
    #print(cumprod)
    total = 1
    for i in cumprod:
        total *= (1 + i)
    total-=1
    # print the cumulative return, keep 6 decimal places
    print("{:.6f}".format(total))
    
    

def test_0(df):
    X_train, y_train, X_test, y_test = train_test_split(df)
    return X_train, y_train, X_test, y_test

def test_1(df):
    X_train, y_train, X_test, y_test = train_test_split(df)
    X_train, y_train, X_test, y_test = normalization(X_train, y_train, X_test, y_test)

def test_2(df):
    X_train, y_train, X_test, y_test = train_test_split(df)
    X_train, y_train, X_test, y_test = normalization(X_train, y_train, X_test, y_test)
    pred_SVM = SVM(X_train, y_train, X_test, y_test)
    
def test_3(df):
    X_train, y_train, X_test, y_test = train_test_split(df)
    X_train, y_train, X_test, y_test = normalization(X_train, y_train, X_test, y_test)
    pred_NN = NN(X_train, y_train, X_test, y_test)
    
def test_4(df,close):
    X_train, y_train, X_test, y_test = train_test_split(df)
    X_train, y_train, X_test, y_test = normalization(X_train, y_train, X_test, y_test)
    pred_SVM = SVM(X_train, y_train, X_test, y_test)
    backtest(close, pred_SVM)
    
def test_5(df,close):
    X_train, y_train, X_test, y_test = train_test_split(df)
    X_train, y_train, X_test, y_test = normalization(X_train, y_train, X_test, y_test)
    pred_NN = NN(X_train, y_train, X_test, y_test)
    backtest(close, pred_NN)

    
"""if __name__ == '__main__':
    test_id = int(input().strip())
    row_num = int(input().strip())
    Data = []
    Price = []
    col_names = list(map(str, input().split(',')))
    for i in range(row_num):
        line=list(map(str, input().split(',')))
        line[0] = pd.to_datetime(datetime.strptime(line[0],'%m-%d')).replace(year=2021)
        for j in range(1,14,1):
            line[j] = float(line[j])
        line[14] = int(float(line[14]))
        line[15] = int(float(line[15]))
        Data.append(line[:-1])
        Price.append([pd.to_datetime(line[0]),float(line[16])])
    df = pd.DataFrame(Data, columns= col_names[:-1])
    close = pd.DataFrame(Price, columns=[col_names[0],col_names[16]])
    
    if test_id == 0:
        test_0(df)
    if test_id == 1:
        test_1(df)
    if test_id == 2:
        test_2(df)
    if test_id == 3:
        test_3(df)
    if test_id == 4:
        test_4(df,close)
    if test_id == 5:
        test_5(df,close)"""

"if __name__ == '__main__':\n    test_id = int(input().strip())\n    row_num = int(input().strip())\n    Data = []\n    Price = []\n    col_names = list(map(str, input().split(',')))\n    for i in range(row_num):\n        line=list(map(str, input().split(',')))\n        line[0] = pd.to_datetime(datetime.strptime(line[0],'%m-%d')).replace(year=2021)\n        for j in range(1,14,1):\n            line[j] = float(line[j])\n        line[14] = int(float(line[14]))\n        line[15] = int(float(line[15]))\n        Data.append(line[:-1])\n        Price.append([pd.to_datetime(line[0]),float(line[16])])\n    df = pd.DataFrame(Data, columns= col_names[:-1])\n    close = pd.DataFrame(Price, columns=[col_names[0],col_names[16]])\n    \n    if test_id == 0:\n        test_0(df)\n    if test_id == 1:\n        test_1(df)\n    if test_id == 2:\n        test_2(df)\n    if test_id == 3:\n        test_3(df)\n    if test_id == 4:\n        test_4(df,close)\n    if test_id == 5:\n        test_5(df,close)"

In [ ]:
def backtest(close, pred):
    pass
    # drop the close when date<='2021-11-30'
    close = close.loc[200:len(close)]
    #print(close)
    # calculte the daily return
    close['return'] = close.Close.pct_change(1)
    
    # store prediction from SVM/NN in 'signal' column
    close['signal'] = pred
    #print(close)
    # use the return data to calculate the cumulative return of long-only strategy
    # buy when signal == 1 and sell when signal != 1
    # assuming reinvesting (i.e. cumprod of return)
    maxholding = 0
    buysell = []
    for i in close.signal:
        if i == 1 and maxholding == 0:
            buysell.append(1)
        elif i != 1 and maxholding == 0:
            buysell.append(-1)
        
    cumprod = close['return']*close['signal']
    cumprod.fillna(value=0)
    # print the cumulative return, keep 6 decimal places
    print("{:.6f}".format(np.cumprod(cumprod)))

In [66]:
def backtest(close, pred):
    pass
    # drop the close when date<='2021-11-30'
    close = close.loc[200:len(close)]
    #print(close)
    # calculte the daily return
    close['return'] = close.Close.pct_change()
    
    # store prediction from SVM/NN in 'signal' column
    close['signal'] = pred
    
    # use the return data to calculate the cumulative return of long-only strategy
    # buy when signal == 1 and sell when signal != 1
    # assuming reinvesting (i.e. cumprod of return)
    position = np.where(pred == 1, 1, 0)
    close['position'] = position
    #print(close)
    cumprod = close['return'].fillna(0) * close['position'].shift().fillna(0)
    #print(cumprod)
    total = 1
    for i in cumprod:
        total *= (1 + i)
    total-=1
    # print the cumulative return, keep 6 decimal places
    print("{:.6f}".format(total))

In [67]:
def test_4(df,close):
    X_train, y_train, X_test, y_test = train_test_split(df)
    X_train, y_train, X_test, y_test = normalization(X_train, y_train, X_test, y_test)
    pred_SVM = SVM(X_train, y_train, X_test, y_test)
    backtest(close, pred_SVM)
test_4(df,df[['Close']])

1270822844.0
1285604274.0
1.0
1.0
-1.504884
0.834166
0.77
0.71
[ 1.  1. -1. -1. -1. -1. -1. -1. -1. -1.  1.  1.  1.  1.  1.  1.  1. -1.
  1.  1. -1.]
     Close    return  signal  position
200  30.92       NaN     1.0         1
201  30.98  0.001940     1.0         1
202  31.86  0.028405    -1.0         0
203  31.47 -0.012241    -1.0         0
204  31.39 -0.002542    -1.0         0
205  31.24 -0.004779    -1.0         0
206  32.02  0.024968    -1.0         0
207  31.39 -0.019675    -1.0         0
208  31.71  0.010194    -1.0         0
209  31.11 -0.018921    -1.0         0
210  31.11  0.000000     1.0         1
211  31.20  0.002893     1.0         1
212  31.36  0.005128     1.0         1
213  31.51  0.004783     1.0         1
214  31.61  0.003174     1.0         1
215  31.59 -0.000633     1.0         1
216  31.89  0.009497     1.0         1
217  31.71 -0.005644    -1.0         0
218  31.16 -0.017345     1.0         1
219  31.20  0.001284     1.0         1
220  32.04  0.026923    -1.0         0
200    0.000000
201    0.001940
202    0.028405
203   -0.000000
204   -0.000000
205   -0.000000
206    0.000000
207   -0.000000
208    0.000000
209   -0.000000
210    0.000000
211    0.002893
212    0.005128
213    0.004783
214    0.003174
215   -0.000633
216    0.009497
217   -0.005644
218   -0.000000
219    0.001284
220    0.026923
dtype: float64
0.07993489790431085

/Users/Andrew/miniforge3/envs/tf_m1/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/var/folders/33/tdj09r9s7gg104qwcdv9y6mw0000gn/T/ipykernel_24376/2055757473.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  close['return'] = close.Close.pct_change()
/var/folders/33/tdj09r9s7gg104qwcdv9y6mw0000gn/T/ipykernel_24376/2055757473.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  close['signal'] = pred
/var/folders/33/tdj09r9s7gg104qwcdv9y6mw0000gn/T/ipykernel_24376/2055757473.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  close['position'] = position

In [63]:
def test_5(df,close):
    X_train, y_train, X_test, y_test = train_test_split(df)
    X_train, y_train, X_test, y_test = normalization(X_train, y_train, X_test, y_test)
    pred_NN = NN(X_train, y_train, X_test, y_test)
    backtest(close, pred_NN)
test_5(df,df[['Close']])

1270822844.0
1285604274.0
1.0
1.0
-1.504884
0.834166
0.96
0.62
[ 1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1.  1. -1. -1. -1.  1. -1. -1.
  1.  1. -1.]
     Close    return  signal  position
200  30.92       NaN     1.0         1
201  30.98  0.001940    -1.0         0
202  31.86  0.028405    -1.0         0
203  31.47 -0.012241    -1.0         0
204  31.39 -0.002542    -1.0         0
205  31.24 -0.004779    -1.0         0
206  32.02  0.024968    -1.0         0
207  31.39 -0.019675    -1.0         0
208  31.71  0.010194    -1.0         0
209  31.11 -0.018921    -1.0         0
210  31.11  0.000000    -1.0         0
211  31.20  0.002893     1.0         1
212  31.36  0.005128    -1.0         0
213  31.51  0.004783    -1.0         0
214  31.61  0.003174    -1.0         0
215  31.59 -0.000633     1.0         1
216  31.89  0.009497    -1.0         0
217  31.71 -0.005644    -1.0         0
218  31.16 -0.017345     1.0         1
219  31.20  0.001284     1.0         1
220  32.04  0.026923    -1.0         0
200    0.000000
201    0.000000
202    0.000000
203   -0.000000
204   -0.000000
205   -0.000000
206    0.000000
207   -0.000000
208    0.000000
209   -0.000000
210    0.000000
211    0.002893
212    0.000000
213    0.000000
214    0.000000
215   -0.000633
216    0.000000
217   -0.000000
218   -0.017345
219    0.001284
220    0.000000
dtype: float64
-0.013861158332436063

/Users/Andrew/miniforge3/envs/tf_m1/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/Users/Andrew/miniforge3/envs/tf_m1/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:500: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)
/var/folders/33/tdj09r9s7gg104qwcdv9y6mw0000gn/T/ipykernel_24376/644596799.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  close['return'] = close.Close.pct_change()
/var/folders/33/tdj09r9s7gg104qwcdv9y6mw0000gn/T/ipykernel_24376/644596799.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  close['signal'] = pred
/var/folders/33/tdj09r9s7gg104qwcdv9y6mw0000gn/T/ipykernel_24376/644596799.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  close['position'] = position