In [1]:
import pandas as pd
import math
from datetime import datetime

In [24]:
df = pd.read_csv("input000-13.txt")

In [3]:
df.head()

                  Date    Open    High     Low   Close  Volume
0  2021-08-12 04:00:00  145.61  145.67  145.59  145.62    2188
1  2021-08-12 04:05:00  145.55  145.55  145.51  145.51     850
2  2021-08-12 04:10:00  145.50  145.50  145.50  145.50     281
3  2021-08-12 04:30:00  145.61  145.69  145.61  145.69     702
4  2021-08-12 04:35:00  145.70  145.70  145.70  145.70     117

In [25]:
# Compute the VWAP from the formula listed in the link
def compute_VWAP(df):
    p = (df.High + df.Low)/2
    q = df.Volume
    df["VWAP"] = (p*q).cumsum() / q.cumsum()
    
    #return df

In [26]:
compute_VWAP(df)

In [27]:
df.head()

                  Date    Open    High     Low   Close  Volume        VWAP
0  2021-08-12 04:00:00  145.61  145.67  145.59  145.62    2188  145.630000
1  2021-08-12 04:05:00  145.55  145.55  145.51  145.51     850  145.602021
2  2021-08-12 04:10:00  145.50  145.50  145.50  145.50     281  145.593384
3  2021-08-12 04:30:00  145.61  145.69  145.61  145.69     702  145.603268
4  2021-08-12 04:35:00  145.70  145.70  145.70  145.70     117  145.606003