In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
df = pd.read_csv("Qualitative_Bankruptcy.data.txt")

In [3]:
df.head()

   P P.1  A A.1 A.2 P.2  NB
0  N   N  A   A   A   N  NB
1  A   A  A   A   A   A  NB
2  P   P  P   P   P   P  NB
3  N   N  P   P   P   N  NB
4  A   A  P   P   P   A  NB

In [13]:
[i for i in df.columns]

['P', 'P.1', 'A', 'A.1', 'A.2', 'P.2', 'NB']

In [15]:
from sklearn.preprocessing import LabelEncoder

In [19]:
transforms = {}
for i in df.columns:
    le = LabelEncoder()
    df[i] = le.fit_transform(df[i])
    transforms[i] = le

In [20]:
transforms

{'P': LabelEncoder(),
 'P.1': LabelEncoder(),
 'A': LabelEncoder(),
 'A.1': LabelEncoder(),
 'A.2': LabelEncoder(),
 'P.2': LabelEncoder(),
 'NB': LabelEncoder()}

In [21]:
df.head()

   P  P.1  A  A.1  A.2  P.2  NB
0  1    1  0    0    0    1   1
1  0    0  0    0    0    0   1
2  2    2  2    2    2    2   1
3  1    1  2    2    2    1   1
4  0    0  2    2    2    0   1

In [22]:
X = df[['P','P.1','A','A.1','A.2','P.2']]
Y = df.NB

In [23]:
X.head()

   P  P.1  A  A.1  A.2  P.2
0  1    1  0    0    0    1
1  0    0  0    0    0    0
2  2    2  2    2    2    2
3  1    1  2    2    2    1
4  0    0  2    2    2    0

In [24]:
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: NB, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

In [42]:
#I think shuffling will help here
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [43]:
from sklearn.tree import DecisionTreeClassifier

In [44]:
classifier = DecisionTreeClassifier(random_state = 0)
classifier.fit(X_train,y_train)

DecisionTreeClassifier(random_state=0)

In [45]:
classifier.score(X_train,y_train)

1.0

In [46]:
#The above is definitely super overfit as is this one
classifier.score(X_test,y_test)

1.0

In [47]:
from sklearn.ensemble import BaggingClassifier

In [48]:
bagging = BaggingClassifier(random_state=0)
bagging.fit(X_train,y_train)

BaggingClassifier(random_state=0)

In [49]:
bagging.score(X_train,y_train)

1.0

In [50]:
bagging.score(X_test,y_test)

1.0

In [51]:
from sklearn.ensemble import GradientBoostingClassifier

In [52]:
boosting = GradientBoostingClassifier()
boosting.fit(X_train,y_train)

GradientBoostingClassifier()

In [53]:
boosting.score(X_train,y_train)

1.0

In [54]:
boosting.score(X_test,y_test)

0.9879518072289156

In [55]:
X_train.shape

(166, 6)

I'm not sure how to improve the accuracy as it's really accurate on both training and testing set's so it's not overfit or underfit.