In [49]:
import os
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from datetime import datetime as dt
# Please complete the following three functions

# This function will run OLS regression
# Inputs:
# - regressor(pd.DataFrame): explanatory varaibles ("X") 
# - targets(pd.DataFrame): target variable ("y")
# - annualization(int): number of data points we have per year
# Output:
# - reg(pd.DataFrame): containing the intercept(alpha), regression coefficients (beta) and r-squared of the regression
def ols_regression(regressors, targets, annualization=12):

    # align the targets and regressors on the same dates
    df_aligned = targets.join(regressors, how='inner', lsuffix='y')
    Y = df_aligned[targets.columns]
    X = df_aligned[regressors.columns]
    
    reg = pd.DataFrame(index=targets.columns)
    
    for col in Y.columns:
        y = Y[col]
        model = LinearRegression().fit(X, y)
        reg.loc[col, 'alpha'] = model.intercept_ * annualization
        reg.loc[col, regressors.columns] = model.coef_
        reg.loc[col, 'r-squared'] = model.score(X,y)
    
    return reg

# This function runs time-series regression
# Regress each security's excess return on factors' excess returns
# Inputs:
# - equities(pd.DataFrame): contains monthly returns for 15 securities
# - ff(pd.DataFrame): contains monthly factor returns and risk-free rates
# Outputs:
# - ts_reg(pd.DataFrame): containing the intercept(alpha), 4 regression coefficients (beta) and r-squared of the regression
# - mae(float): Mean Absolute Error of estimated alphas
def time_series_reg(equities, ff):
    
    targets_excess = equities.subtract(ff['RF'],axis=0)
    ff_excess = ff[['MKT','SMB','HML','UMD']].subtract(ff['RF'],axis=0)

    ts_reg = ols_regression(ff_excess,targets_excess)

    mae = np.mean(np.abs(ts_reg['alpha']))
    
    return ts_reg, mae

# This function runs cross-sectional regression
# Regress sample average of each security's excess return on estimated factors' beta
# Inputs:
# - equities(pd.DataFrame): contains monthly returns for 15 securities
# - ff(pd.DataFrame): contains monthly factor returns and risk-free rates
# - ts_reg(pd.DataFrame): contains summary of time-series regression
# Output:
# - cs_reg(pd.DataFrame): containing the intercept(theta), 4 regression coefficients (phi) and r-squared of the regression
def cross_sectional_reg(equities, ff, ts_reg):
    
    aer = pd.DataFrame(index=equities.columns)
    aer['Avg Excess Returns'] = equities.subtract(ff['RF'],axis=0).mean()
    ts_betas = ts_reg[['MKT','SMB','HML','UMD']]
    
    cs_reg = ols_regression(ts_betas,aer[['Avg Excess Returns']]*12)
    
    return cs_reg
def test1(equities, ff):
    ts_reg, mae = time_series_reg(equities, ff)
    fptr.write(ts_reg.head(10).to_string())

def test2(equities, ff):
    ts_reg, mae = time_series_reg(equities, ff)
    fptr.write("Mean Absolute Error: ")
    fptr.write(str(round(mae, 4)))

def test3(equities, ff):
    ts_reg, mae = time_series_reg(equities, ff)
    cs_reg = cross_sectional_reg(equities, ff, ts_reg)
    fptr.write(cs_reg.to_string())
    
if __name__ == '__main__':
    fptr = open(os.environ['OUTPUT_PATH'], 'w')
    tmp = input()
    
    # load monthly industry equity data
    # from 2000-01 to 2021-05 
    equities = []
    colnames = list(map(str, input().rstrip().split('\t')))

    for i in range(257):
        line = list(map(str, input().split('\t')))
        for j in range(16):
            if j == 0:
                line[j] = pd.to_datetime(line[j])
            else:
                line[j] = float(line[j])
        equities.append(line)    

    equities = pd.DataFrame(equities, columns = colnames)
    equities.set_index('Date', inplace = True)
    
    # print(equities)
    
    # load monthly fama french factor data
    # from 2000-01 to 2021-05 
    
    ff = []
    colnames2 = list(map(str, input().rstrip().split('\t')))

    for i in range(258, 515):
        line = list(map(str, input().split('\t')))
        line = line[:6]
        for j in range(6):
            if j == 0:
                line[j] = pd.to_datetime(line[j])
            else:
                line[j] = float(line[j])
        ff.append(line)
    
    ff = pd.DataFrame(ff, columns = colnames2)
    ff.set_index('Date', inplace = True)
    
    # print(ff)
    
    if tmp == '1':
        test1(equities, ff)
    elif tmp == '2':
        test2(equities, ff)
    elif tmp == '3':
        test3(equities, ff)
    else:
        raise RuntimeError('invalid input')

In [50]:
regressors.columns

Index(['AAPL', 'AMZN', 'GS', 'JPM', 'MSFT', 'SPY', 'XLB', 'XLE', 'XLF', 'XLI',
       'XLK', 'XLP', 'XLU', 'XLV', 'XLY'],
      dtype='object')

In [51]:
regressors = pd.read_csv("regressors", sep = "	",engine = 'python',index_col="Date")
regressors.head()

,AAPL,AMZN,GS,JPM,MSFT,SPY,XLB,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
Date,,,,,,,,,,,,,,,
2000-01-31 00:00:00,0.009118,-0.151888,-0.025871,0.044493,-0.161671,-0.049787,-0.122281,0.008074,-0.029586,-0.081794,-0.061485,0.008819,-0.017768,-0.025291,-0.124246
2000-02-29 00:00:00,0.104820,0.066796,0.009550,-0.013168,-0.086845,-0.015227,-0.100469,-0.042334,-0.107046,-0.055173,0.105068,-0.117014,-0.121538,-0.065387,-0.055715
2000-03-31 00:00:00,0.184842,-0.027223,0.137838,0.094977,0.188811,0.096915,0.100893,0.124423,0.182624,0.139207,0.083893,0.037593,0.109237,0.089950,0.141516
2000-04-30 00:00:00,-0.086517,-0.176306,-0.112879,-0.168445,-0.343529,-0.035120,-0.033220,-0.014925,0.009659,0.014445,-0.091847,0.053019,0.065459,-0.011717,-0.020822
2000-05-31 00:00:00,-0.322922,-0.124575,-0.211126,0.035529,-0.103047,-0.015723,-0.031557,0.117424,0.022321,-0.004220,-0.103977,0.071329,-0.002194,-0.026804,-0.053980

In [52]:
targets = pd.read_csv("Targets", sep = "	",engine = 'python')
targets.head()

,Date,MKT,SMB,HML,UMD,RF,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,2000-01-31 00:00:00,-0.0433,0.0611,-0.0134,0.0227,0.0041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-02-29 00:00:00,0.0288,0.2162,-0.0851,0.1879,0.0043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-03-31 00:00:00,0.0567,-0.1635,0.0813,-0.0592,0.0047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-04-30 00:00:00,-0.0594,-0.0647,0.0787,-0.0811,0.0046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-05-31 00:00:00,-0.0392,-0.0583,0.0551,-0.0858,0.0050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
ols_regression(targets,regressors)

ValueError: Found array with 0 sample(s) (shape=(0, 16)) while a minimum of 1 is required.

In [34]:
# This function runs time-series regression
# Regress each security's excess return on factors' excess returns
# Inputs:
# - equities(pd.DataFrame): contains monthly returns for 15 securities
# - ff(pd.DataFrame): contains monthly factor returns and risk-free rates
# Outputs:
# - ts_reg(pd.DataFrame): containing the intercept(alpha), 4 regression coefficients (beta) and r-squared of the regression
# - mae(float): Mean Absolute Error of estimated alphas
def time_series_reg(equities, ff):
    
    targets_excess = equities.subtract(ff['RF'],axis=0)
    ff_excess = ff[['MKT','SMB','HML','UMD']].subtract(ff['RF'],axis=0)

    ts_reg = ols_regression(ff_excess,targets_excess)

    mae = np.mean(np.abs(ts_reg['alpha']))
    
    return ts_reg, mae

In [35]:
time_series_reg(regressors, targets)

(                   AAPL          AMZN            GS           JPM  \
 alpha      4.391120e-32  2.311116e-32 -6.471125e-32  1.016891e-31
 AAPL       1.000000e+00  8.022223e-16 -7.419992e-16 -1.855059e-17
 AMZN       5.879780e-16  1.000000e+00 -4.996004e-16  5.551115e-17
 GS        -4.559531e-16 -2.612966e-16  1.000000e+00 -8.266456e-16
 JPM       -7.531197e-17 -6.283393e-17 -9.253968e-16  1.000000e+00
 MSFT       2.978616e-16 -5.638029e-17  2.715912e-17 -4.295190e-16
 SPY        4.174314e-16  1.937607e-15 -1.133392e-15  2.469867e-15
 XLB       -1.500786e-16 -4.736607e-16  2.038941e-17  1.742909e-16
 XLE       -6.823824e-16 -4.889135e-16  1.451752e-16 -2.526250e-16
 XLF       -3.716560e-16 -1.390004e-16  1.119537e-16 -4.766254e-16
 XLI       -7.372821e-17 -3.839275e-17  3.411035e-16  2.666192e-16
 XLK       -2.996747e-16 -1.255090e-15  8.511530e-16 -3.120110e-16
 XLP       -4.339797e-16 -4.056825e-16 -1.305853e-16  4.690469e-17
 XLU       -6.375398e-17 -3.109892e-16  1.741882e-16 -1.200693e-16
 XLV       -1.590767e-16 -2.466372e-16 -7.132753e-17 -5.226812e-16
 XLY        2.236269e-16 -3.697022e-16 -9.969963e-17 -5.811911e-16
 r-squared  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00

                    MSFT           SPY           XLB           XLE  \
 alpha      8.088906e-33  6.933348e-33  1.617781e-32  4.622232e-33
 AAPL      -2.502036e-16 -1.786906e-17 -1.732758e-16 -2.513306e-16
 AMZN       1.665335e-16 -2.220446e-16 -2.498002e-16 -1.110223e-16
 GS         6.013424e-17  1.376549e-17  4.797801e-16  5.934899e-19
 JPM       -1.195558e-15  4.904292e-17  3.615097e-16  1.289441e-16
 MSFT       1.000000e+00  1.790187e-16  6.226385e-17  8.034625e-16
 SPY        1.275306e-15  1.000000e+00  9.568079e-17 -1.100291e-15
 XLB        1.805130e-16 -3.994600e-16  1.000000e+00  6.601408e-17
 XLE        5.790584e-16 -2.283158e-16 -3.173002e-16  1.000000e+00
 XLF       -5.904578e-16 -4.522440e-17 -7.661543e-16  1.214256e-16
 XLI        1.098238e-16  1.451497e-16  5.579608e-16 -3.503033e-17
 XLK       -4.380890e-16 -3.486845e-16 -1.409464e-17  1.686649e-16
 XLP       -1.009712e-16  7.085620e-17 -3.129989e-16 -1.766075e-16
 XLU        2.740654e-16  1.109697e-16 -3.869535e-17  1.072044e-16
 XLV        7.157772e-17  7.098347e-17  1.548362e-16 -1.661548e-16
 XLY       -1.594430e-17  2.018465e-16  1.662627e-16 -5.540039e-16
 r-squared  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00

                     XLF           XLI           XLK           XLP  \
 alpha      4.853343e-32 -3.235562e-32 -5.713446e-33  6.124457e-32
 AAPL       7.996693e-18 -2.073610e-16 -2.868621e-16  1.177161e-16
 AMZN      -2.220446e-16 -8.326673e-17 -1.665335e-16  1.387779e-16
 GS         5.530768e-17 -1.122784e-16 -4.850058e-17 -3.437050e-16
 JPM        5.095187e-16  1.692886e-16 -2.004206e-16  7.880062e-18
 MSFT      -3.168801e-16  1.540221e-16 -1.990202e-16  2.443125e-16
 SPY        2.010916e-15 -9.680218e-16 -2.032589e-16  4.734804e-16
 XLB       -1.023438e-16  6.040781e-16  2.339189e-16  6.747915e-16
 XLE       -2.350444e-16  1.443992e-16  1.800631e-16 -4.786270e-16
 XLF        1.000000e+00  2.937259e-16 -1.506096e-16  1.128091e-15
 XLI       -9.638098e-16  1.000000e+00 -4.916919e-16  2.005054e-15
 XLK       -3.059557e-16  1.723475e-16  1.000000e+00  3.501789e-16
 XLP       -7.079116e-16 -7.324809e-16 -5.458413e-17  1.000000e+00
 XLU        3.336057e-16  2.140425e-16  2.922228e-16 -1.024226e-15
 XLV        2.070046e-16  1.909402e-16  3.207594e-17 -1.120889e-15
 XLY        1.380835e-15  1.096644e-15  3.646318e-16 -4.320662e-15
 r-squared  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00

                     XLU           XLV           XLY
 alpha     -1.386670e-32 -1.848893e-32  1.502225e-32
 AAPL      -1.656491e-16 -1.456820e-17 -7.683250e-18
 AMZN      -2.567391e-16 -5.551115e-17  0.000000e+00
 GS         1.337890e-16  6.583122e-17 -2.026151e-16
 JPM        1.493340e-16  1.662171e-16 -7.008733e-17
 MSFT       3.953408e-16  1.129596e-16  1.487185e-16
 SPY       -1.594795e-15  6.179614e-17 -1.629287e-16
 XLB       -1.844397e-16 -2.073418e-16  2.124271e-16
 XLE       -1.060993e-16  1.787376e-16 -1.596501e-16
 XLF       -3.970265e-16 -3.056893e-16  5.089138e-16
 XLI       -4.968276e-16 -1.017185e-15  8.713045e-16
 XLK        5.237516e-16 -7.645462e-16  5.480440e-16
 XLP       -4.388515e-16 -6.146190e-16  8.947089e-16
 XLU        1.000000e+00  4.316034e-16 -2.893569e-16
 XLV        3.409162e-16  1.000000e+00 -3.269680e-16
 XLY        1.419337e-15  1.814747e-15  1.000000e+00
 r-squared  1.000000e+00  1.000000e+00  1.000000e+00  ,
 3.096466393720531e-32)

In [ ]:
# This function runs cross-sectional regression
# Regress sample average of each security's excess return on estimated factors' beta
# Inputs:
# - equities(pd.DataFrame): contains monthly returns for 15 securities
# - ff(pd.DataFrame): contains monthly factor returns and risk-free rates
# - ts_reg(pd.DataFrame): contains summary of time-series regression
# Output:
# - cs_reg(pd.DataFrame): containing the intercept(theta), 4 regression coefficients (phi) and r-squared of the regression
def cross_sectional_reg(equities, ff, ts_reg):
    
    aer = pd.DataFrame(index=equities.columns)
    aer['Avg Excess Returns'] = equities - equities.apply(np.mean)
    ts_betas = ols_regression(aer['Avg Exess Returns'],)
    
    cs_reg = None# -- Your Code -- #
    
    return cs_reg